body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(33, 33, 33);
}

/* -------- superior -------- */

header {
  background-color: #3498db;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #dddddd70;
}

.icono {
  margin-right: 20px;
}

.icono img {
  width: 110px;
  height: 100px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contenido nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.contenido nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contenido ul li a:hover {
  color: #ffe600;
}

/* ------------- */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 42, 42, 0.747);
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
}

main button {
  margin-bottom: 10px;
}

footer {
    text-align: center;
}

footer p {
    color: white;
    font-size: 0.8em;
    margin: 10px 0;
}

/* Botones */

/* From Uiverse.io by WhiteNervosa */ 
.buttonyrz2 {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttontrz2:focus,
.buttonyrz2:hover {
  color: #fff;
}

.buttonyrz2:focus:after,
.buttonyrz2:hover:after {
  width: 100%;
  left: 0%;
}

.buttonyrz2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.buttonyrz {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonyrz:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttonyrz:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menu {
  display: flex;
  margin-bottom: 10px;
}

.menu select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: #00ffd5a4 1px solid;
}
.menu select option {
  background-color: #3498db;
  color: white;
  border: #00ffd5a4 1px solid;
}
