/*Yuuruii Css Library - Buttons class

ColoRGButton / Boton RGB grandent
WhiteLightButton / Boton de luz grandent
Minimalist-Simple-Button / Boton Simple - Texto Desctacado (hover)

*/


/*Boton shadow RGB grandent*/
.ColoRGButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ColoRGButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: Glowing-Yuuruii 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes Glowing-Yuuruii {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.ColoRGButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*Variable boton de luz (white grandent)*/

.WhiteLightButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.WhiteLightButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffffff,
    #f0f0f0,
    #e8e8e8,
    #d0d0d0,
    #b8b8b8,
    #a0a0a0,
    #888888,
    #707070,
    #585858
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: Glowing-Yuuruii 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.WhiteLightButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/*Boton Simple - Texto Desctacado (hover)*/

.Minimalist-Simple-Button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.Minimalist-Simple-Button:focus,
.Minimalist-Simple-Button:hover {
  color: #fff;
}

.Minimalist-Simple-Button:focus:after,
.Minimalist-Simple-Button:hover:after {
  width: 100%;
  left: 0%;
}

.Minimalist-Simple-Button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
